[General]
debug=false

[admin]
bind-address=0.0.0.0
bind-port=8888
expires=600
log-protocol=false

[ipdp]
bind-address=0.0.0.0
bind-port=5757
dialplan-microphone-down=8
dialplan-microphone-up=9
dialplan-music=0
dialplan-music-begin=30
dialplan-music-next=32
dialplan-music-prev=31
dialplan-relay1-off=54
dialplan-relay1-on=55
dialplan-relay2-off=64
dialplan-relay2-on=65
dialplan-relay3-off=74
dialplan-relay3-on=75
dialplan-speaker-down=1
dialplan-speaker-up=2
log-protocol=false
port-range-start=50000
port-range-stop=51000

[sip]
call-duration=3600
codec1=8
codec2=0
codec3=3
codec4=9
enable-call-duration=true
ext-address-static=
ext-address-stun=stun1.l.google.com:19302
log-rtsp=false
log-sip=true
port-range-start=40000
port-range-stop=41000
server-address=sip.example.com
server-bind-port=5061
server-bind-random=false
server-port=5060
server-proxy-address=
server-proxy-port=5060
server-proxy-use=false
server-transport=udp
standalone=false
standalone-bind-address=0.0.0.0
standalone-bind-port=5061
standalone-transport=udp
type-ext-address=auto
